html {
  margin: 0;
  padding: 0;
  background: #D64492;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.copy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  color: #BC0034;
  text-transform: uppercase;
  font-family: 'DrukXCond-Super';
}

.headline img {
  width: auto;
  height: 80vh;
}

@media (max-width: 600px) {
  .headline img {
    width: 90vw;
    height: auto;
  }
}